<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To Do App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('nav.html') %>

    <!-- 할일, 날짜를 입력받는 form 태그(action ='/write' method='post') -->
    <div class="container mt-5">
      <h1>to do 상세보기</h1>
      <div class="container mt-4">
        <ul class="list-group">
          <li class="list-group-item">
            <p>_id: <%=post._id %>번째.</p>
            <h4 class="detail" data-id="<%=post._id %>">
              할일 제목 : <%=post.title %>
            </h4>
            <p class="detail" data-id="<%=post._id %>">
              할일 마감날짜 : <%=post.date %>
            </p>
            <button
              class="btn btn-primary update"
              data-id="<%=post._id %>"
              onclick="location.href='/list'"
            >
              목록
            </button>
            <button
              class="btn btn-warning update"
              data-id="<%=post._id %>"
              onclick="location.href='/update/<%=post._id %>'"
            >
              수정
            </button>
          </li>
        </ul>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
